@import url('https://fonts.googleapis.com/css?family=Chivo|Raleway');

body {
  background-image: linear-gradient(to right, #dff9fb, #F8EFBA);
  font-family: 'Raleway', serif;
}

h1, h2 {
  font-family: 'Chivo', sans-serif;
}

header {
  text-align: center;
}

header input[type="text"] {
  border-radius: .25em;
  font-size: 2em;
  text-align: center;
}

header input[type="text"]:focus {
  outline: none;
}

main h2 {
  text-align: center;
}

#cards {
  max-width: 60%;
  margin: 0 auto;
  overflow: hidden;
  /* display: flex;
  flex-direction: column;
  justify-content: flex-start space-between;
  align-items: baseline; */
}

article {
  padding: 5px;
  margin: 5px 0;
  width: 100%;
  border-radius: .25em;
  background-color: #3498db;
}

article img, div {
  display: inline-block;
}

article div {

}

article ul {
  list-style: none;
}

article ul li {
  display: inline-block;
  vertical-align: center;
}
